@import url('https://fonts.googleapis.com/css2?family=Muli:wght@400;600&display=swap');

:root {
  --primaryColor: #F56666;
  --darkGrey: #4C4C4C;
  --mediumGrey: #777777;
  --grey: #f0f1f5;
  --pink: #ec6b66;
  --blue: #424e88;
}

body {
  background-color: var(--grey);
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: var(--blue);
}

input {
  outline: none;
}

.page {
  position: relative;
  top: 70px;
  height: 1000px;
  background-color: var(--grey);
}

/**************/
/*** NAVBAR ***/
/**************/

.nav-links {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  justify-items: center;

  justify-self: end;
  align-self: center;
  padding: 5px 0px;
  width: 40vw;
}

.nav-link {
  color: var(--darkGrey);
  font-family: "Muli", sans-serif;
  font-size: 15px;
  padding: 5px 0;
  margin-left: 30px;
  white-space: nowrap;

  transition: border-bottom 0.4s;
  border-bottom: solid 1px transparent;
}

.nav-link-underline {
  border-bottom: solid 1px var(--darkGrey);
}

.nav-link:hover {
  transition: border-bottom 0.2s;
  border-bottom: solid 1px var(--darkGrey);
}

.nav-button {
  font-family: "Muli", sans-serif;
  font-size: 15px;
  transform: scaleY(0.95);
  border: solid 1px var(--darkGrey);
  border-radius: 5px;
  padding: 5px 10px;
  color: var(--darkGrey);
  white-space: nowrap;
  margin-left: 20px;
}

.nav {
  position: fixed;
  top: 0;
  margin: 0 auto;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 7fr;
  padding: 10px 15vw;
  background-color: var(--grey);
  z-index: 2;
}

.nav-logo-container {
  justify-self: start;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.nav-logo {
  height: 30px;
  margin-right: 20px;
}

.nav-name {
  height: 27px;
  margin-right: 20px;
}


/*************/
/*** LOGIN ***/
/*************/

.login-form {
  width: 400px;
  margin: auto;
  padding-top: 20vh;
}

.signup-form {
  padding-top: 5vh;
}

.login-text {
  font-family: "Muli", sans-serif;
  font-size: 14px;
}

.login-input {
  width: 100%;
  margin: 10px auto;
  font-family: "Muli", sans-serif;
  font-size: 14px;
  border-style: none;
  background-color: transparent;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--blue);
}

.login-subscript {
  position: relative;
  bottom: 5px;
  right: 15px;
  font-size: 12px;
}

.login-icon {
  position: relative;
  bottom: 32px;
  left: 380px;
  color: var(--blue);
  cursor: pointer;
}

.login-button {
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Muli";
  letter-spacing: 0.2em;

  background-color: var(--blue);
  color: var(--grey);
  width: 100%;
  height: 45px;
  border-radius: 45px;
  cursor: pointer;
  outline: none;
  margin-top: 30px;
}

.login-confirm-pw {
  position: relative;
  bottom: 20px;
}

.login-centered {
  text-align: center;
}

.login-back {
  text-align: center;
  color: var(--blue);
  cursor: pointer;
  margin-bottom: 100px;
}

.login-red {
  text-align: center;
  color: var(--primaryColor);
  margin: 10px auto;
}

.login-steps {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  padding-top: 10vh;
  width: 50vw;
  justify-items: center;
}

.login-step {
  display: grid;
  grid-template-columns: 1fr 5fr;
  align-items: center;
  justify-items: start;
  grid-column-gap: 15px;
}

.login-step-number {
  font-family: "Muli";
  font-size: 16px;
  color: var(--blue);
  width: 1em;
  height: 1em;
  line-height: 1em;
  padding: 8px;
  border: 0.09em solid var(--blue);
  text-align: center;
  align-self: center;
  justify-self: center;
  border-radius: 50%;
}

.login-step-check {
  background-color: var(--blue);
  color: var(--grey);
}

.login-step-text {
  font-family: "Muli";
  font-size: 15px;
  text-transform: uppercase;
  transform: scaleY(0.9);
  font-weight: 300;
}

.month {
  width: 30px;
}

.day {
  width: 30px;
}

.year {
  width: 35px;
}

.login-inline {
  display: inline;
  margin-left: 20px;
}

.login-dropdown {
  width: 100px;
  height: 40px;
  outline: none;
  font-family: "Muli", sans-serif;
  font-size: 14px;
  border-color: transparent;
  background-color: transparent;

  position: relative;
  right: 8px;
}

.login-two-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.line {
  position: relative;
  width: 90px;
  bottom: 5px;
  border-bottom: 1px solid var(--blue);
}

.red {
  border-bottom: 1px solid var(--primaryColor);
}

.login-header {
  text-transform: uppercase;
  font-size: 17px;
  color: var(--blue);
  font-weight: 600;
}

.signup-subscript {
  position: relative;
  bottom: 18px;
  font-size: 12px;
}

.signup-subscript2 {
  position: relative;
  bottom: 5px;
  font-size: 12px;
}

.two-col {
  display: grid;
  grid-template-columns: 2fr 3fr;
}

.shift-up {
  position: relative;
  bottom: 20px;
}

.hide {
  display: none;
  pointer-events: none;
}

.ssn {
  height: 18px;
}

#subscriber-info {
  position: relative;
  top: 15px;
  font-size: 15px;
}

.full-height {
  max-height: 1600px;
  overflow: hidden;
  animation-name: height-transition;
  animation-duration: 0.2s;
  animation-timing-function: ease-in;
  /* transition: max-height 0.2s ease-in; */
}

@keyframes height-transition {
  0% {
    max-height: 0;
  }

  100% {
    max-height: 15em;
  }
}

/* .zero-height {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.2s ease-in;
} */

.login-expand {
  display: flex;
  align-items: center;
  color: var(--blue);
}

#add-insurance {
  margin-left: 10px;
  font-size: 15px;
  font-family: "Muli", sans-serif;
}

.first-insurance {
  margin-bottom: 20px;
}

#login-plus {
  font-size: 18px;
  width: 0.7em;
  height: 0.7em;
  line-height: 0.7em;
  padding: 4px;
  text-align: center;
  border-radius: 50%;
  background-color: var(--blue);
  color: var(--grey);
}

.login-option {
  margin-right: 20px;
}

.login-dot {
  margin: 0 10px;
}

input[type="radio"]::before {
  content: "";
  display: block;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: var(--grey);
  border: solid 2px var(--blue);
  z-index: 2;
  position: relative;
  right: 2px;
}

input[type="radio"]:checked:before {
  content: "";
  display: block;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: var(--blue);
  border: solid 2px var(--blue);
  z-index: 2;
  position: relative;
  right: 2px;
}

input[type="checkbox"]::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 2px;
  background: var(--grey);
  border: solid 2px var(--blue);
  z-index: 2;
  position: relative;
  right: 1px;
  bottom: 1px;
}

input[type="checkbox"]:checked:before {
  content: "";
  display: block;
  width: 11px;
  height: 11px;
  border-radius: 2px;
  background: var(--blue);
  border: solid 2px var(--blue);
  z-index: 2;
  position: relative;
  right: 2px;
}

.login-checkbox {
  margin: 30px 0 10px 0;
  position: relative;
  right: 15px;
}

.login-checkbox-check {
  color: var(--grey);
  position: relative;
  left: 23px;
  top: 3px;
  font-size: 14px;
  z-index: 3;
}