@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Muli:wght@400;600&display=swap');

:root {
  --primaryColor: #F56666;
  --darkGrey: #4C4C4C;
  --mediumGrey: #777777;
  --grey: #f0f1f5;
  --pink: #ec6b66;
  --blue: #424e88;
}

body {
  background-color: var(--grey);
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: var(--blue);
}

input {
  outline: none;
}

.page {
  position: relative;
  top: 70px;
  height: 1000px;
  background-color: var(--grey);
}

/**************/
/*** NAVBAR ***/
/**************/

.nav-links {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  justify-items: center;

  justify-self: end;
  align-self: center;
  padding: 5px 0px;
  width: 40vw;
}

.nav-link {
  color: var(--darkGrey);
  font-family: "Muli", sans-serif;
  font-size: 15px;
  padding: 5px 0;
  margin-left: 30px;
  white-space: nowrap;

  transition: border-bottom 0.4s;
  border-bottom: solid 1px transparent;
}

.nav-link-underline {
  border-bottom: solid 1px var(--darkGrey);
}

.nav-link:hover {
  transition: border-bottom 0.2s;
  border-bottom: solid 1px var(--darkGrey);
}

.nav-button {
  font-family: "Muli", sans-serif;
  font-size: 15px;
  transform: scaleY(0.95);
  border: solid 1px var(--darkGrey);
  border-radius: 20%/50%;
  padding: 5px 10px;
  color: var(--darkGrey);
  white-space: nowrap;
  margin-left: 20px;
}

.nav {
  position: fixed;
  top: 0;
  margin: 0 auto;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 7fr;
  padding: 10px 15vw;
  background-color: var(--grey);
  z-index: 2;
}

.nav-logo-container {
  justify-self: start;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.nav-logo {
  height: 30px;
  margin-right: 20px;
}

.nav-name {
  height: 27px;
  margin-right: 20px;
}


/*************/
/*** LOGIN ***/
/*************/

.login-form {
  position: relative;
  width: 350px;
  margin: auto;
  margin-top: 15vh;
  padding: 40px 30px;
  border-radius: 15px;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.login-text {
  font-family: "Muli", sans-serif;
  font-size: 14px;
  color: var(--darkGrey);
  margin: 0;
  margin-right: auto;
  margin-bottom: 5px;
  margin-left: 10px;
}

.login-input {
  width: 350px;
  background-color: var(--grey);
  border: none;
  border-radius: 5px;
  font-family: "Muli", sans-serif;
  font-size: 14px;
  outline: none;
  padding: 10px;
  margin: 5px 0;
}

.login-type {
  margin-top: 10px;
  width: 250px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 25px;
}

.login-input2 {
  width: 330px;
}

.login-subscript {
  position: relative;
  bottom: 20px;
  left: 15px;
  font-size: 14px;
  font-family: "Muli", sans-serif;
  color: var(--darkGrey);
}

.login-subscript2 {
  position: relative;
  /* bottom: 9px;
  right: 17px; */
  left: 17px;
  top: 5px;
  font-size: 14px;
}

.red-words {
  color: var(--primaryColor);
}

.login-icon {
  position: absolute;
  font-size: 18px;
  top: 15px;
  right: 10px;
  /* bottom: 33px;
  left: 90px; */
  color: var(--darkGrey);
  cursor: pointer;
}

.login-button {
  font-size: 18px;
  font-weight: 600;
  font-family: "Muli";
  background-color: var(--blue);
  color: var(--grey);
  width: 90%;
  height: 45px;
  border-radius: 45px;
  cursor: pointer;
  outline: none;
  margin: 0 auto;
  margin-top: 30px;
  border: none;
}

#sign-in {
  margin-top: 50px;
}

#password-container {
  position: relative;
}

.login-centered {
  text-align: center;
  margin: 5px auto;
}

.login-back {
  text-align: center;
  color: var(--blue);
  cursor: pointer;
  margin-bottom: 100px;
}

.login-red {
  text-align: center;
  color: var(--primaryColor);
  margin: 10px auto;
}

/******************/
/*** ONBOARDING ***/
/******************/

.onboarding-container {
  margin: auto;
  background-color: white;
  border-radius: 15px;
  padding: 20px 0px 40px 0px;
  margin-top: 100px;
  width: 500px;
}

.onboarding-form {
  margin: auto;
  position: relative;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.insurance-form {
  margin-top: 30px;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#practice-info {
  margin-top: 30px;
  margin-bottom: 10px;
}

.option-large {
  /* border: 1px solid var(--blue); */
  border-radius: 10px;
  /* box-shadow: 0px 0px 3px 0px; */
  width: 120px;
  height: 90px;
  background-color: var(--grey);
  text-align: center;
  
}

.large-icon {
  font-size: 40px;
  color: black;
}

.white-text {
  color: black;
}

.onboarding-input {
  width: 400px;
  background-color: var(--grey);
  border: none;
  border-radius: 5px;
  font-family: "Muli", sans-serif;
  font-size: 16px;
  outline: none;
  padding: 10px;
  margin: 5px 0;
}

.onboarding-text {
  font-family: "Muli", sans-serif;
  font-size: 16px;
  color: var(--darkGrey);
  margin: 0;
}

#dob {
  width: 380px;
  font-size: 14px;
  position: relative;
  margin-top: 5px;
}

.onboarding-spacer {
  margin-top: 5px;
}

.onboarding-wide-spacer {
  margin-top: 15px;
}

.month {
  width: 30px;
}

.day {
  width: 30px;
}

.year {
  width: 35px;
}

.login-inline {
  display: inline;
  margin-left: 20px;
}

.login-dropdown {
  height: 40px;
  outline: none;
  font-family: "Muli", sans-serif;
  font-size: 16px;
  padding: 0 5px;
  border: none;
  background-color: var(--grey);
  border-radius: 5px;
  margin: 5px 0;
  width: 195px;
  height: 40px;
  color: var(--mediumGrey);
}
/* 
#sex {
  width: 200px;
} */

.black-text {
  color: black;
}

.login-two-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.login-header {
  font-size: 18px;
  color: var(--blue);
  font-weight: 600;
  width: 400px;
  margin-bottom: 10px;
}

.login-title {
  font-size: 24px;
  color: var(--darkGrey);
  font-weight: 600;
  width: 400px;
  text-align: center;
  display: block;
  padding-bottom: 15px;
}

.signup-subscript {
  position: relative;
  bottom: 5px;
}

.signup-subscript2 {
  position: relative;
  bottom: 5px;
  font-size: 12px;
}

.hide {
  display: none;
  pointer-events: none;
}

.full-height {
  max-height: 1600px;
  transition: max-height 0.2s ease-in;
}

#insurance-text {
  margin-bottom: 10px;
  margin-right: 30px;
}

#bottom-spacer {
  margin-bottom: 30px;
}

.show-insurance {
  animation-name: height-transition;
  animation-duration: 0.2s;
  animation-timing-function: ease-in;
  overflow: hidden;
}

@keyframes height-transition {
  0% {
    max-height: 0;
  }

  100% {
    max-height: 15em;
  }
}

.zero-height {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.2s ease-in;
}

.login-expand {
  display: flex;
  align-items: center;
  color: var(--blue);
}

#add-insurance {
  margin-left: 10px;
  font-size: 16px;
  font-family: "Muli", sans-serif;
}

#login-plus {
  font-size: 18px;
  width: 0.7em;
  height: 0.7em;
  line-height: 0.7em;
  padding: 4px;
  text-align: center;
  border-radius: 50%;
  background-color: var(--blue);
  color: var(--grey);
}

.login-dot {
  position: relative;
  top: 2px;
  margin-right: 10px;
}
/* 
input[type="radio"]::before {
  content: "";
  display: block;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: white;
  border: solid 2px var(--blue);
  z-index: 2;
  position: relative;
  right: 2px;
}

input[type="radio"]:checked:before {
  content: "";
  display: block;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: var(--blue);
  border: solid 2px var(--blue);
  z-index: 2;
  position: relative;
  right: 2px;
} */
/* 
input[type="checkbox"]::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 2px;
  background: var(--grey);
  border: solid 2px var(--blue);
  z-index: 2;
  position: relative;
  right: 1px;
  bottom: 1px;
}

input[type="checkbox"]:checked:before {
  content: "";
  display: block;
  width: 11px;
  height: 11px;
  border-radius: 2px;
  background: var(--blue);
  border: solid 2px var(--blue);
  z-index: 2;
  position: relative;
  right: 2px;
} */

.login-checkbox {
  margin: 30px 0 10px 0;
  position: relative;
  right: 15px;
}

.login-checkbox-check {
  color: var(--grey);
  position: relative;
  left: 23px;
  top: 3px;
  font-size: 14px;
  z-index: 3;
}

.nice-dates-navigation, .nice-dates-day {
  font-size: 20px;
}

.nice-dates-popover {
  display: none !important;
  pointer-events: none !important;
}

.half-wide {
  width: 175px;
}

.input {
  border-style: none;
  font-size: 16px;
  font-family: "Muli", sans-serif;
  width: 175px;
  height: 20px;
  margin-right: auto;
}

#switch-login {
  margin-top: 10px;
}

.red {
  border: 1px solid var(--primaryColor);
}

.full-wide {
  width: 400px !important;
}

/****************/
/*** SCHEDULE ***/
/****************/

.schedule-creator {
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 35vh;
}

.schedule-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-content: space-between;
  justify-self: center;
  
  width: 70%;
  margin: 0 auto;
  position: relative;
  top: 30px;
}

.schedule-hour {
  display: flex;
  flex-direction: row;
}

.schedule-times {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  position: relative;
  bottom: 80px;
}

.schedule-button {
  font-family: "Muli", sans-serif;
  font-weight: 600;
  font-weight: 600;
  font-size: 16px;
  color: var(--blue);

  text-align: center;
  padding: 10px 0;
  width: 100px;
  border: 1px solid var(--blue);
  border-radius: 10px;
  margin: 5px 10px;
  cursor: pointer;
}

.schedule-availability {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-items: center;
  padding: 0px 20px;
  background-color: white;
  border-radius: 15px;
  margin-bottom: 20px;
}

.schedule-availability-inputs {
  margin: 0 auto;
  position: relative;
  top: 45px;
}

.schedule-title {
  font-family: "Muli", sans-serif;
  color: var(--darkGrey);
  font-size: 18px;
  margin-left: 15px;
}

.schedule-add-text {
  font-family: "Muli", sans-serif;
  color: var(--blue);
  font-size: 16px;
  cursor: pointer;
}

#schedule-add-time {
  margin-top: 10px;
}

.schedule-indent {
  position: relative;
  left: 10px;
}

.schedule-text {
  font-family: "Muli", sans-serif;
  color: var(--darkGrey);
  font-size: 16px;
}

#from {
  position: relative;
  right: 50px;
}

#to {
  position: relative;
  left: 150px;
  bottom: 37px;
}

.schedule-icon {
  position: relative;
  top: 2px;
  margin-right: 5px;
}

#schedule-minus {
  position: relative;
  left: 320px;
  top: -138px;
}

.schedule-grey-icon {
  color: var(--blue);
  font-size: 20px;
  align-self: flex-end;
  position: relative;
  top: 13px;
  left: 8px;
  margin-bottom: -15px;
}

.hidden {
  display: none;
  pointer-events: none;
}

.schedule-header {
  font-family: "Muli", sans-serif;
  font-size: 18px;
  color: var(--mediumGrey);
}

.schedule-button-day {
  font-family: "Muli", sans-serif;
  font-size: 18px;
  width: 1em;
  height: 1em;
  line-height: 1em;
  padding: 8px;
  text-align: center;
  align-self: center;
  justify-self: center;
  border-radius: 50%;
  background-color: white;
  color: var(--blue);
}

.selected {
  background-color: var(--blue);
  color: white;
}

.null {
  color: #b5b5b5;
}

.MuiInputBase-root {
  background-color: var(--grey);
  border-radius: 5px;
  font-family: "Muli", sans-serif !important;
  padding: 2px 0px 2px 10px;
}

.schedule-spacer {
  margin-right: 60px !important;
}

.MuiInputBase-root::after {
  display: none;
}

.MuiInputBase-root::before {
  display: none;
}

.MuiFormLabel-root {
  font-family: "Muli", sans-serif !important;
}

.schedule-available-time {
  margin-top: 10px;
}

.schedule-appointments {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 380px;
  padding: 20px 30px;
  background-color: white;
  border-radius: 15px;
  margin-bottom: 20px;
}

.schedule-left {
  float: left;
}

.schedule-right {
  float: right;
}

#schedule-adjust-x {
  position: relative;
  top: -7px;
}

.inline {
  display: inline;
}

.schedule-input {
  background-color: var(--grey);
  border: none;
  border-radius: 5px;
  font-family: "Muli", sans-serif;
  font-size: 14px;
  outline: none;
  padding: 10px;
  resize: none;
}

.schedule-top-spacer {
  margin-top: 20px;
  margin-bottom: 5px;
}

.schedule-top-spacer-small {
  margin-top: 10px;
  margin-bottom: 5px;
}

.schedule-horizontal-spacer {
  margin: 0 5px 0 10px;
}

#duration {
  position: relative;
  bottom: 8px;
}

.schedule-appointments-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.schedule-section {
  margin-top: 40px;
}

.schedule-breaks {
  padding: 20px 30px;
  background-color: white;
  border-radius: 15px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

#minimize-gaps {
  margin-left: 5px;
}

.cancel-button {
  font-size: 16px;
  font-weight: 600;
  font-family: "Muli";
  color: var(--blue);
  width: 100px;
  height: 45px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.submit-button {
  font-size: 16px;
  font-family: "Muli";
  background-color: var(--blue);
  color: var(--grey);
  width: 100px;
  height: 45px;
  border-radius: 45px;
  cursor: pointer;
  outline: none;
  border: none;
}